# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Environment files
.env
.env.*
!.env.example

# SQLite dev DB
/db.sqlite3

# Django
staticfiles/
media/

# Logs
*.log
logs/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# Mypy/Pylint
.mypy_cache/
.pytype/
.pylint.d/

# Build
build/
dist/
*.egg-info/
